@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/***************************************
	°øÅë
***************************************/
* {
	margin: 0px;
	padding: 0px;
	color: #3d3d3d;
	font-family: 'Nanum Gothic', sans-serif;
}

div.main_error {
	/* border: 1px solid gray; */
	width: 1000px;
	margin: auto;
	margin-top: 160px;
	margin-bottom: 140px;
	text-align: center;
	
}

div.main_error h1 {
	color: #599ebf;
}

div.main_error img {
	/* border: 1px solid gray; */
}

div.main_text {
	padding-bottom: 40px;
}

div.main_text p {
	font-size: 18px;
}

button.main_home {
	border: none;
	border-radius: 5px;
	width: 80px;
	height: 40px;
	background: #98DFFF;
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}



