<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.hospital">
	
	<select id="count" resultType="int">
		select count(*) from pcp_hospital
	</select>
	
	<select id="list" parameterType="map" resultType="com.project.vo.HospitalVo">
		SELECT RNO, HID, HNAME,  ANIMAL, NTIME, HOLIDAY 
					  FROM (SELECT ROWNUM RNO, HID, HNAME,  ANIMAL, NTIME, HOLIDAY 
						 FROM( SELECT HID, HNAME,  ANIMAL, NTIME, HOLIDAY FROM PCP_HOSPITAL ORDER BY HID  desc )) 
					WHERE RNO BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectStar" parameterType="String" resultType="com.project.vo.HospitalVo">
		SELECT ROUND(AVG(RSTAR),1) RSTAR FROM
				(SELECT * FROM PCP_HOSPITAL h, PCP_REVIEW R WHERE H.HID=R.HID AND H.HID= #{hid} )
	</select>
	
	<select id="searchGloc" parameterType="String" resultType="com.project.vo.HospitalVo">
		SELECT HID, HNAME, GLOC, LOC, TEL, HTIME, NTIME, HOLIDAY, ANIMAL, INTRO, IMG, HRINK,X,Y, HSFILE
				 FROM PCP_HOSPITAL where gloc= #{gloc}
	</select>	
	
	<select id="search" parameterType="String" resultType="com.project.vo.HospitalVo">
		SELECT HID, HNAME, GLOC, LOC, TEL, HTIME, NTIME, HOLIDAY, ANIMAL,INTRO, IMG, HRINK, X, Y , HFILE, HSFILE
		FROM PCP_HOSPITAL WHERE HNAME LIKE '%'|| #{hname}||'%' 
	</select>
	
	<delete id="delete" parameterType="com.project.vo.HospitalVo">
		delete from pcp_hospital where hid=#{hid}
	</delete>
	
	<update id="update" parameterType="com.project.vo.HospitalVo">
		UPDATE PCP_HOSPITAL SET HNAME=#{hname} , GLOC=#{gloc}, LOC =#{loc} , TEL=#{tel}, 
					  HTIME=#{htime} , NTIME=#{ntime} , HOLIDAY=#{holiday}, ANIMAL=#{animal}, 
					  INTRO=#{intro} ,HRINK= #{hrink} , hfile=#{hfile} , hsfile=#{hsfile}
					   WHERE HID = #{hid}
	</update>
	
	<select id="content" parameterType="String" resultType="com.project.vo.HospitalVo">
		SELECT  HID, HNAME, GLOC, LOC, TEL, HTIME, NTIME, HOLIDAY, ANIMAL, INTRO, IMG, HRINK,X,Y, hfile, hsfile
				 FROM PCP_HOSPITAL WHERE HID = #{hid}
	</select>
	
	<select id="list2" resultType="com.project.vo.HospitalVo">
		SELECT  H.HID, H.HNAME, H.GLOC, H.LOC, H.TEL, H.HTIME, SUBSTR(H.HTIME, 0, 5) AS STARTTIME, 
				SUBSTR(H.HTIME, 7, 6) AS ENDTIME, H.NTIME, H.HOLIDAY, H.ANIMAL, H.INTRO, H.IMG, H.HRINK, H.X, H.Y, ROUND(AVG(RSTAR),1) AS RSTAR, H.HSFILE
								 FROM (SELECT HID, HNAME, GLOC, LOC, TEL, HTIME, SUBSTR(HTIME, 0, 5) STARTTIME, SUBSTR(HTIME, 7, 6) ENDTIME, 
								 		NTIME, HOLIDAY, ANIMAL, INTRO, IMG, HRINK, X, Y , HSFILE FROM PCP_HOSPITAL 
				            		 	ORDER BY HID DESC) H 
								LEFT JOIN PCP_REVIEW R ON H.HID = R.HID 
								 GROUP BY H.HID, H.HNAME, H.GLOC, H.LOC, H.TEL, H.HTIME, SUBSTR(H.HTIME, 0, 5), SUBSTR(H.HTIME, 7, 6), 
								 H.NTIME, H.HOLIDAY, H.ANIMAL, H.INTRO, H.IMG, H.HRINK, H.X, H.Y , H.HSFILE
								 ORDER BY H.HID 
	</select>
	
	<select id="selectTime" parameterType="String" resultType="com.project.vo.HospitalVo">
		SELECT HID, HNAME, SUBSTR(HTIME, 0,5 ) STARTTIME,  SUBSTR(HTIME, 7,6 ) ENDTIME 
				 FROM PCP_HOSPITAL WHERE HID= #{hid}
	</select>
	
	<insert id="insert" parameterType="com.project.vo.HospitalVo">
		INSERT INTO PCP_HOSPITAL (HID, HNAME, GLOC, LOC, TEL, HTIME, NTIME, HOLIDAY, ANIMAL, INTRO, HRINK, HFILE, HSFILE) VALUES
					   ('H_'||LTRIM(TO_CHAR(SEQU_PCP_HOSPITAL_HID.NEXTVAL,'0000')), #{hname}, #{gloc}, #{loc}, #{tel}, #{htime}, #{ntime},
					   	 #{holiday}, #{animal}, #{intro}, #{hrink}, #{hfile, jdbcType=VARCHAR}, #{hsfile , jdbcType=VARCHAR})
	</insert>
	
</mapper>