<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.board">

	<insert id="insert" parameterType="com.mycgv_jsp.vo.BoardVo">
		insert into 
			mycgv_board
				(bid,btitle,bcontent,bhits,id,bdate,bfile,bsfile)
			values
				('b_'||ltrim(to_char(sequ_mycgv_board_bid.nextval,'0000')),#{btitle},#{bcontent},
						0,#{id},sysdate,#{bfile, jdbcType=VARCHAR},#{bsfile, jdbcType=VARCHAR})
	</insert>
	
	<select id="list" parameterType="map" resultType="com.mycgv_jsp.vo.BoardVo">
		select rno, bid, btitle, bcontent, bhits, id, bdate
		from (select rownum rno, bid, btitle, bcontent, bhits, id, to_char(bdate,'yyyy-mm-dd') bdate  
				from (select bid, btitle, bcontent, bhits, id, bdate from mycgv_board  
						order by bdate desc))
		where rno between #{start} and #{end}
	</select>
	
	<select id="list2" resultType="com.mycgv_jsp.vo.BoardVo">
		select rownum rno, bid, btitle, bcontent, bhits, id, to_char(bdate,'yyyy-mm-dd') bdate 
				from (select bid, btitle, bcontent, bhits, id, bdate 
						from mycgv_board
						order by bdate desc)
	</select>
	
	<select id="content" parameterType="String" resultType="com.mycgv_jsp.vo.BoardVo">
		select bid, btitle, bcontent, bhits, id, bdate, bfile, bsfile 
			from mycgv_board
			where bid=#{bid}
	</select>
	
	<update id="update" parameterType="com.mycgv_jsp.vo.BoardVo">
		update mycgv_board set btitle=#{btitle}, bcontent=#{bcontent} where bid=#{bid}
	</update>
	
	<update id="updateHits" parameterType="String">
		update mycgv_board set bhits=bhits+1 where bid=#{bid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from mycgv_board where bid=#{bid}
	</delete>
</mapper>