<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.reviewReport">
	<insert id="report" parameterType="com.project.vo.ReviewReportVo">
		INSERT INTO PCP_REVIEW_REPORT(RRID, MID, RID, HID, RRDATE, RRESON)
		VALUES('RR_'||LTRIM(TO_CHAR(SEQU_PCP_REVIEW_REPORT_RRID.NEXTVAL,'0000')), #{mid}, #{rid}, #{hid}, SYSDATE, #{rreson})
	</insert>
	
	<select id="check" parameterType="com.project.vo.ReviewReportVo" resultType="int">
		select count(*) from pcp_review_report where mid = #{mid} and rid = #{rid}
	</select>
	
</mapper>